{% extends 'base.html' %}

{% block content %}
<div class="card mx-auto shadow p-4 mb-5 " style="max-width: 600px; margin-top:100px;">
    {% include 'includes/alerts.html' %}
        <h1>Register</h1>
            <br/>
        <form action="{% url 'register'%}" method="POST">
              {% csrf_token %}
            
               {{form.as_p}}
            
              <button type="submit" class="btn btn-success">Register</button>
           
            <br/>
        </form>
</div>
{% endblock %}