
{% for user in usuarios %}
<div class="modal fade" id="modalRole{{ user.id }}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alterar Cargo - {{ user.username }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <form method="POST" action="{% url 'editar_role' user.id %}">
        {% csrf_token %}
        <div class="modal-body">
          <label class="form-label">Selecione o novo Cargo:</label>
          <select class="form-select" name="group_id" required>
            <option value="">Selecione...</option>
            {% for group in groups %}
              <option value="{{ group.id }}" 
                {% if group in user.groups.all %}selected{% endif %}>
                {{ group.name }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Salvar Alteração</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %} 