{% extends 'base.html' %}

{% block content %}
  <div class="card mx-auto shadow p-3 mb-5" style="max-width: 380px; margin-top:100px;">
        {% include 'includes/alerts.html' %}
        <div class="card-body">
            <h4 class="card-title mb-4">Sign in</h4>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="User Name">
                </div>
                <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" >
                </div>
                <div class="mb-3">
                <a href="" class="float-right">Forgot password?</a>
                </div>
                <br/>
                <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div> 
                
            </form>
        </div><!-- card-body.// -->
        </div> <!-- card .// -->

        <!-- <p class="text-center mt-4">Don't have account? <a href="{% url 'logout' %}">Sign up</a></p> -->
        <br><br>  
{% endblock %}